yfinance==0.2.48
requests==2.32.2
beautifulsoup4
plotext
rich==13.7.1
textual-dev==1
PyQt5==5.15.11
telepot==12.7
selenium==4.27.1
prefect==3.1.7
ansible==10.7.0

edgartools==3.6.3
sec-cik-mapper==2.1.0